altgraph==0.17.4
arrow==1.3.0
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
h11==0.14.0
html5lib==1.1
ibapi==9.81.1.post1
idna==3.4
outcome==1.3.0.post0
packaging==23.2
pefile==2023.2.7
pycparser==2.21
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
PySide6==6.6.0
PySide6-Addons==6.6.0
PySide6-Essentials==6.6.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
requests==2.31.0
selenium==4.15.2
shiboken6==6.6.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
trio==0.23.1
trio-websocket==0.11.1
types-python-dateutil==2.8.19.14
urllib3==2.0.7
webencodings==0.5.1
wsproto==1.2.0
